version: "2"
services:
  archiver:
    image: stripe-event-archiver:latest
    environment:
      STRIPE_API_KEY:
      REDIS_HOST: redis
      REDIS_PORT: 6379
      REDIS_RETENTION_DAYS: 60
      AWS_ACCESS_KEY_ID:
      AWS_SECRET_ACCESS_KEY:
      S3_ENDPOINT: s3-eu-west-1.amazonaws.com
      S3_BUCKET: my-bucket
      S3_PATH: backups/stripe-events/%Y
  redis:
    image: redis:3.2
